# Build files
/build/
/sdkconfig
/sdkconfig.old
/CMakeCache.txt

# VSCode settings
.vscode/

# Python virtual environments
.python_env/
/.espressif/

# macOS system files
.DS_Store

# AWS IoT certificates
aws_root_ca.pem
client.crt
client.key
